@font-face {
	font-family: Librebaskerville;
	src: url(../fonts/LibreBaskerville-Regular.TTF);
}

@font-face {
	font-family: Librebaskerville-it;
	src: url(../fonts/LibreBaskerville-Italic.TTF);
}

@font-face {
	font-family: Damion;
	src: url(../fonts/Damion-Regular.TTF);
}

.content{
	background: url(../img/hm-bg.jpg) no-repeat;
	background-size: cover;
	background-position: 35.4167% 60% ;
	bottom: 0;
	left: 0;
	right: 0;	
	width: 100%;
	/*min-height: 100vh;*/
}

.room-about{
	background: url(../img/rooms-bg.jpg) no-repeat center center;
	background-size: cover;
	width: 100%;
	/*min-height: 85vh;*/
}

.room-rnr{
	background: url(../img/rooms-rnr-bg.jpg) no-repeat center center;
	background-size: cover;
	width: 100%;
}

.room-news{
	background: url(../img/rooms-news-bg.jpg) no-repeat center center;
	background-size: cover;
	width: 100%;
}

.room-contact{
	background: url(../img/rooms-contact-bg.jpg) no-repeat center center;
	background-size: cover;
	width: 100%;
}

.room-faq{
	background: url(../img/rooms-faq-bg.jpg) no-repeat center center;
	background-size: cover;
	width: 100%;
}


.content-venue{
	background: url(../img/venue-bg.jpg) no-repeat center center ;
	background-size: cover;
	width: 100%;
}

.contact-venue{
	background: url(../img/venue-contact.jpg) no-repeat center center ;
	background-size: cover;
	width: 100%;
}

.events-venue{
	background: url(../img/venue-events.jpg) no-repeat center center ;
	background-size: cover;
	width: 100%;
}

.clients-venue{
	background: url(../img/venue-clients.jpg) no-repeat center center ;
	background-size: cover;
	width: 100%;
}

.news-venue{
	background: url(../img/venue-news.jpg) no-repeat center center ;
	background-size: cover;
	width: 100%;
}

.faqs-venue{
	background: url(../img/venue-faqs.jpg) no-repeat center center ;
	background-size: cover;
	width: 100%;
}

.rates-venue{
	background: url(../img/venue-rates.jpg) no-repeat center center ;
	background-size: cover;
	width: 100%;
}

.weddings-venue{
	background: url(../img/venue-weddings.jpg) no-repeat center center ;
	background-size: cover;
	width: 100%;
}

.main-content{
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	padding: 2% 2% 2% 2% !important;
}

.index-content{
	background-color: rgba(255, 255, 255, 0.8);
	color: black;
	padding: 2% 2% 2% 2% !important;
}

.index-content p{
	font-weight: 500;
}

.body-content{
	margin: 59px 0 !important;
}

.rooms-content{
	margin: 59px 0 0 0 !important;
}

header {
	margin: 59px 0;
}

.main-ctt-h1{
	margin: 30px 0; 
}

.main-content .columns{
	padding: 0 20px;
}

.index-content .columns{
	padding: 0 20px;
}

#footer {
    background: #000 ;
    bottom: 0px;
    color: #fff;
    line-height: 40px;
    /*position: absolute;*/
    text-align: center;
    width: 100%; 
}

.wrapper{
	/*min-height: 100%;*/
	position: relative;
}

.top-bar {
    text-align: center; 
}

ul.center-buttons {
    display: inline-block !important; 
    margin-left: 0 !important;
}

.header-href{
	text-align: right;
	float: right;
	font-family: Librebaskerville-it;	
	margin-top: -4%;
}

.header-href a{
	color: black;
}

.mobile{
	display: none;
}

.blacktext{
	color: #000;
}

.gap{
	padding: 30px;
}

@media only screen and (max-width: 40em) {
	.desktop{
		display: none !important;
	}
	.header-href{
		margin-top: 1.5%;
		margin-bottom: -5%;
	}
	.rooms{
		font-size: 40px;
	}
	.venue{
		font-size: 40px;
	}
	.mobile{
		display: block !important;		
	}
	.mobile-12{
		padding-left: 0rem !important;
		padding-right: 0rem !important;
	}
	.main-content{
		margin-bottom: 8%;
	}
}
/*@media only screen and (min-width: 40.0625em) {
	.content{
		background: url('../img/hm-bg(641).jpg') no-repeat center center;
		background-size: cover;
		width: 100%;
		height: 100vh;
	}
}*/

/*@media only screen and (min-width: 64.0625em) {

}

@media only screen and (max-width: 40em){
	.content{
		background: url('../img/hm-bg(640).jpg') no-repeat center center;
		background-size: cover;
		width: 100%;
		height: 120vh;
	}
}

@media only screen and (min-width: 64.0625em) and (max-width: 90em) {

}*/